@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300;1,500&family=Open+Sans:ital,wght@0,500;0,600;1,500&display=swap');
body {
  box-sizing: border-box;
  outline: 0 ;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  font-family: 'Open Sans', sans-serif;
}
.container{
    max-width:  640px;
    margin: 50px auto;

    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.3rem  ;


}
form input, form label, form button{
display: block;
margin-bottom: 10px;
width: 100%;
}       
form input{
    font-size: 24px;
    height: 50px;
}
form input:focus{
    outline: 1px solid #353434;
}
form button{
    border: none;
    background-color: #353434;
    color: bisque;
    height: 40px;
    cursor: pointer;
}
.relogio{
    font-size: 2.5rem;
}